@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/abstracts/mixins-screens" as screens;

.parserPopup {
  background-color: colors.$primary;
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 1;
  right: 0;
  padding: 10px;
  overflow: auto;
  animation: parserPopupAnim 0.5s ease;

  @include screens.tabletAndDesktop {
    width: 550px;
  }

  .container {
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .heading {
        display: flex;
        justify-content: space-between;
        color: colors.$white;
      }

      .body {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }
}

@keyframes parserPopupAnim {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
