@use "../styles/abstracts/variables-colors" as colors;
@use "../styles/abstracts/mixins-text-sizes" as textSizes;
@use "../styles/layouts/responsive" as responsive;

.home {
  background-image: url("/assets/images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 93.33px);
  padding: 70px 0;

  .container {
    @include responsive.container;

    .wrapper {
      text-align: center;
      padding: 40px 30px;
      display: flex;
      margin: auto;
      background-color: colors.$slate;
      border-radius: 7px;
      flex-direction: column;
      gap: 20px;
      max-width: 450px;

      .imageContainer {
        position: relative;
        width: 70px;
        height: 70px;
        margin: auto;

        .logo {
          object-fit: contain;
          aspect-ratio: 1;
        }
      }

      .title {
        font-weight: 900;
        color: colors.$primary;
        @include textSizes.text-5xl;
      }

      .description {
        color: colors.$primary;
      }

      .join,
      .createNew {
        background-color: colors.$primary;
        color: colors.$slate;
      }
    }
  }
}
