@use "../../styles/abstracts/variables-colors" as colors;
@use "../../styles/layouts/responsive" as responsive;
@use "../../styles/abstracts/mixins-screens" as screens;

.footer {
  background-color: colors.$primary-variant;
  padding: 10px 0;

  .container {
    @include responsive.container;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include screens.tabletAndDesktop {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .left {
        .title {
          color: colors.$slate;
          font-weight: 900;
        }

        .description,
        .copyright {
          color: colors.$slate-3;
        }
      }

      .right {
        a {
          color: colors.$slate-3;
          padding: 7px;
          background-color: colors.$slate-7;
          border-radius: 3px;
          text-decoration: none;
          display: inline-block;

          &:hover {
            background-color: colors.$slate-6;
          }
        }
      }
    }
  }
}
